{block content}
<h1>Mini E-shop - Product Detail</h1>

<p>Product name: {$product->name}</p>

{foreach $product->related('product_price')->order('currency ASC') as $productPrice}
    <p>Price {$productPrice->currency}: {$productPrice->amount|number:2, ',', ' '}</p>
{/foreach}
