services:
    app:
        build:
            args:
                WWW_DATA_UID: 1000
                WWW_DATA_GID: 1000
    db:
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
    nginx:
        ports:
          - "80:80"
